div#callback__page div.table__frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
}
div#callback__page div.table__frame div.middle {
  vertical-align: middle;
  display: table-cell;
}
div#callback__page div.table__frame div.middle div.window {
  width: 800px;
  height: 584px;
  margin: 0 auto;
  background: url('/assets/images/callback__page/overlay.svg') no-repeat;
  padding: 50px;
}
div#callback__page div.table__frame div.middle div.window div.header__name {
  font-size: 34px;
  text-align: center;
  color: #E5E6E7;
}
div#callback__page div.table__frame div.middle div.window form input[type="text"] {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
  background: none;
}
